<!-- <h1>First Angular App</h1> -->
<!-- <app-navbar></app-navbar>
<app-header></app-header> -->
<!-- <h2>{{title}}</h2>
<p>{{ 1+ 2}}</p>
<img [src]="imgUrl" alt=""> -->

<!-- <button disabled = "{{isDisabled}}"> disabled using interpolation</button>
<button [disabled] = "isDisabled"> disabled using property binding</button> -->

<!-- class Binding -->

<!-- <button 
[class.active]="isActive" 
[class.no-active]="!isActive"
[class.active-border]="isActive"
[class.no-active-border]="!isActive"
>ClickMe</button>

<button [class.apple]="fruitName == 'bpple'">Fruit Ninja</button> -->

<!-- Style Binding -->

<!-- <button 
[style.background]="isActive ? 'red' : 'green' "
[style.border]="isActive ? '15px solid yellow' : 'white' "
  >Click</button> -->


  <!-- Event Binding -->

  <!-- <button (click)="buttonClick()">Click ME</button>
  <button (mouseover)="buttonClick()">Click ME</button>
  <input type= "text" (keyup)="keyEnter($event)">
  
  <input type="text" (keyup.enter)="keyupFiltering()"> -->


    <!-- Template Variable -->
  <!-- <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userId"> -->

  <!-- Two way Data Binding -->
   <!-- <input type="text" [value]="userName" #username (keyup.enter)= "updateUserName(username)"> -->

   <!-- <input type="text" [(ngModel)]="userName" >

   <h1>{{userName}}</h1> -->

   <!-- <h1>{{appPostTitle}} (App)</h1> -->
   <!-- <app-posts-list [postListTitle] = "appPostTitle" [postIsLogin] = "appIsLogin"></app-posts-list> -->
   <!-- <app-posts-list (MessageEvent)="receiveMessage($event)" ></app-posts-list> -->

<!-- <p>{{ message }}</p>
<p>{{messageFromChild}}</p>
<app-card>
  <h1>Dinusha</h1>
  <p>Dimbulgamuwa</p>
  <p>0763417990</p>

</app-card>

<app-card>
<span header>userName</span>
<h1 body>Dinusha MAdhuranga</h1>
<button footer>View Profile</button>
</app-card> -->
<!-- <app-posts-list></app-posts-list>
<div *ngComponentOutlet="loadComponent()"></div> -->
<button (click)="loadComponent()">Create a Component</button>
<button (click)="removeComponent()">Remove the Component</button>