<h1>First Angular App</h1>
<!-- <app-navbar></app-navbar>
<app-header></app-header> -->
<!-- <h2>{{title}}</h2>
<p>{{ 1+ 2}}</p>
<img [src]="imgUrl" alt=""> -->

<!-- <button disabled = "{{isDisabled}}"> disabled using interpolation</button>
<button [disabled] = "isDisabled"> disabled using property binding</button> -->

<!-- class Binding -->

<!-- <button 
[class.active]="isActive" 
[class.no-active]="!isActive"
[class.active-border]="isActive"
[class.no-active-border]="!isActive"
>ClickMe</button>

<button [class.apple]="fruitName == 'bpple'">Fruit Ninja</button> -->

<!-- Style Binding -->

<!-- <button 
[style.background]="isActive ? 'red' : 'green' "
[style.border]="isActive ? '15px solid yellow' : 'white' "
  >Click</button> -->


  <!-- Event Binding -->

  <!-- <button (click)="buttonClick()">Click ME</button>
  <button (mouseover)="buttonClick()">Click ME</button> -->
  <input type= "text" (keyup)="enter()">
  
